/*
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Encode Sans', sans-serif;
    Text color : #464646;
    Blue : #21BDFF;
    Dark Grey : #464646;
    Light Gray : #E3EBF2;
*/

/* --------------- GLOBAL ---------------- */

body {
    font-size: 1em;
    margin: 0%;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Encode Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(70, 70, 70);
}

h1 {
    font-size: 2.5em;
    margin: 0 auto;
}

h2 {
    font-size: 1.5em;
    margin: 0 auto;
}

a {
    color: rgb(70, 70, 70);
}


/* --------------- PAGE LIST ---------------- */

ul {
    padding: 15px;
    text-align: right;
    background: rgb(235, 235, 235);
    margin: 0%;
}

li {
    font-size: 1em;
    color: rgb(70, 70, 70);
    display: inline;
    padding: 0px 20px 0px 20px;
    margin: 0%;
}


/* --------------- CAROUSEL ---------------- */

.carousel {
    display: block;
    max-width: 60%;
    display: block;
}

    
/* --------------- CAROUSEL BUTTONS ---------------- */

.carousel-btn {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 70px 70px;
    z-index: 2;
    }

.prev-btn {
    left: 0;
    padding: 5;
    margin: 5;
}

.next-btn {
    right: 0;
    padding: 5;
    margin: 5;
}


/* --------------- SELF-PORTRAIT ---------------- */

.portrait .middleColumn {
    text-align: center;
}

.portrait img {
    width: 200px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
}


/* --------------- FOOTER ---------------- */

.footer {
    font-size: 1em;
    padding: 1px;
    text-align: right;
    color: rgb(70, 70, 70);
    background: rgb(235, 235, 235);
    margin: 0%;
}


/* --------------- FORMAT ---------------- */

.spacer.v20 {
    height: 20px;
}

.spacer.v30 {
    height: 30px;
}

.clear {
    clear: both;
}


/* --------------- PHONE SCREEN ---------------- */

@media (max-width: 600px) {

    li {
        display: block;
        padding: 5px;
    }

    .carousel-btn {
        font-size: 1.5em;
        padding: 20px 20px;
        }
}
