/*
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Encode Sans', sans-serif;
    Primary colour : #1b618c;
    Secondary colour : #cfc09d;
    Third colour : #bfe0f5;
*/

/* --------------- GLOBAL ---------------- */

body {
    font-size: 1em;
    margin: 0%;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Encode Sans', sans-serif;
    background-color: #ffffff;
    color: #1b618c;
}

h1 {
    font-size: 2.5em;
    margin: 0 auto;
}

h2 {
    font-size: 1.5em;
    margin: 0 auto;
}

a {
    color: #1b618c;
}


/* --------------- PAGE LIST ---------------- */

ul {
    padding: 15px;
    text-align: center;
    background: #cfc09d4b;
    margin: 0 auto;
}

li {
    font-size: 1em;
    color: #1b618c;
    display: inline;
    padding: 0px 20px 0px 20px;
    margin: 0%;
}


/* --------------- LOGO ---------------- */

.logo {
    display: block;
    max-width: 30%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

    .logo img {
        width: 100%;
        display: block;
}

/* --------------- CAROUSEL ---------------- */

.carousel {
    display: block;
    max-width: 40%;
    max-height: 1080px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.carousel img {
    width: 100%;
    display: block;
}


/* --------------- CAROUSEL BUTTONS ---------------- */

.carousel-btn {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(255, 255, 255);
    color: #1b618c;
    border: none;
    cursor: pointer;
    padding: 70px 70px;
    z-index: 2;
    }

.prev-btn {
    left: 0;
    padding: 5;
    margin: 5;
}

.next-btn {
    right: 0;
    padding: 5;
    margin: 5;
}


/* --------------- SELF-PORTRAIT ---------------- */

.portrait .middleColumn {
    text-align: center;
}

.portrait img {
    width: 200px;
    border: 3px solid #cfc09d;
    border-radius: 10px;
}


/* --------------- FOOTER ---------------- */

.footer {
    font-size: 1em;
    padding: 1px;
    text-align: right;
    color: #1b618c;
    background: #cfc09d4b;
    margin: 0 auto;
}


/* --------------- FORMAT ---------------- */

.spacer.v1 {
    height: 21px;
}

.spacer.v20 {
    height: 20px;
}

.spacer.v30 {
    height: 30px;
}

.clear {
    clear: both;
}


/* --------------- PHONE SCREEN ---------------- */

@media (max-width: 600px) {

    li {
        display: block;
        padding: 5px;
        text-align: right;
    }

    .carousel-btn {
        font-size: 1.5em;
        padding: 20px 20px;
        }

    .carousel {
    max-width: 90%;
    }

    .logo {
        max-width: 70%;
        }
}